# Copiar a .env y rellenar con tus valores
MONGO_URI=mongodb+srv://<db_username>:<password>@cluster0.jkxmjev.mongodb.net
DB_NAME=boda_db
ADMIN_EMAIL=bodadaviyeme@gmail.com
ADMIN_PASSWORD=strivepredefinetightly
JWT_SECRET=tu-secreto-jwt
UPLOAD_DIR=uploads
FRONTEND_URL=http://localhost:5173
PORT=3000
